* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
}

nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
  outline: none;
}

.searchInput::placeholder {
  color: lightgray;
}

.limitedOffer {
  cursor: pointer;
  font-size: 20px;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  cursor: pointer;
  margin-top: 24px;
  margin-right: 50px;
  color: lightgray;
  font-weight: 400;
}

.slider {
  background: url('https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80');
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;

  transition: all 0.5s ease-in-out;
}

.sliderItem {
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: red;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  z-index: 1;
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.sliderPrice {
  z-index: 1;

  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
}

.buyButton {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: 50%;
  font-size: 30px;
  font-weight: 700;
  padding: 12px 20px;
  border: none;
  color: white;
  background-color: black;
}

.buyButton:hover {
  background-color: white;
  color: black;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: #369e62;
}

.sliderItem:nth-child(2) .sliderBg {
  background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}

.sliderItem:nth-child(4) .sliderBg {
  background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderBg {
  background-color: rgba(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
  background-color: #369e62;
}

.sliderItem:nth-child(2) .sliderPrice {
  background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderPrice {
  background-color: teal;
}

.sliderItem:nth-child(4) .sliderPrice {
  background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderPrice {
  background-color: rgba(124, 115, 80);
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.productImg {
  margin-top: 64px;
  margin-left: 64px;
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle {
  font-size: 75px;
  font-weight: 900;
}

.productPrice {
  margin: 24px 0;
}

.productDesc {
  font-size: 18px;
  color: gray;
  margin-bottom: 16px;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 16px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  background-color: black;
}

.color:last-child {
  background-color: rgb(39, 39, 196);
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.size:hover {
  background-color: black;
  color: white;
}

.productButton {
  display: block;
  margin-left: auto;
  padding: 12px 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border: none;
  outline: none;
}

.productButton:hover {
  background-color: white;
  color: black;
}

.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 24px 48px;
  display: none;
  flex-direction: column;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.4);
}

.payTitle {
  font-size: 24px;
  color: rgb(138, 136, 136);
  margin-bottom: 16px;
}

label {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 4px;
}

.payInput {
  margin-bottom: 16px;
  padding-top: 12px;
  padding-bottom: 8px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid gray;
}

.cardIcon {
  width: 48px;
  margin-right: 12px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.payInput.sm {
  width: 30%;
}

.payButton {
  cursor: pointer;
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: -40px;
  left: 0;
  background-color: #15af58;
  border: 0;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: white;
}

.payButton:hover {
  background-color: #108d46;
}

.payButton::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0;
  z-index: -1;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.4);
}

.close {
  cursor: pointer;
  position: absolute;
  width: 24px;
  font-size: 20px;
  top: 16px;
  right: 16px;
  color: black;
  text-align: center;
}

.close:hover {
  color: darkgray;
}

.gallery {
  background-color: whitesmoke;
  display: flex;
}

.galleryItem {
  padding: 32px;
  flex: 1;
}

.galleryTitle {
  text-align: center;
}

.galleryImg {
  object-fit: cover;
  width: 100%;
}

.newSeason {
  display: flex;
}

.newSeasonItem {
  flex: 1;
}

.newSeasonItem:nth-child(2) {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.newSeasonItem:nth-child(2) > * {
  margin-bottom: 32px;
}

.newSeasonButton {
  border: none;
  background-color: white;
  color: black;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.newSeasonButton:hover {
  text-decoration: underline;
}

.newSeasonImg {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 48px;
}

.footerMenuTitle {
  font-size: 16px;
  margin-bottom: 16px;
}

.footerMenuList {
  list-style-type: none;
}

.footerMenuListItem {
  margin-bottom: 12px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  text-align: center;
  flex: 1;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerRightMenuMail {
  height: 28px;
}

.footerRightMenuTitle {
  font-size: 24px;
  margin-bottom: 12px;
}

.mailInput {
  height: 100%;
  padding: 4px;
}

.subscribeButton {
  cursor: pointer;
  height: 100%;
  padding: 4px 16px;
  background-color: black;
  color: white;
  border: none;
}

.subscribeButton:hover {
  background-color: rgb(44, 44, 44);
}

.footerIcons {
  display: flex;
  justify-content: center;
}

.footerIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.copyright {
  font-weight: 300;
}
